<% if (successMsg && successMsg.length > 0) { %>
  <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
    <%= successMsg %>
  </div>
<% } %>


<form class="row g-3" action="/submit" method="POST">
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationDefault01" 
           name="firstname" placeholder="Enter your firstname" required>
  </div>

  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationDefault02" 
           name="lastname" placeholder="Enter your lastname" required>
  </div>

  <div class="col-md-2">
    <label for="validationDefault03" class="form-label">City</label>
    <input type="text" class="form-control" id="validationDefault03" 
           name="city" required>
  </div>

  <div class="col-md-3">
    <label for="validationDefault04" class="form-label">Salary</label>
    <input type="number" class="form-control" id="validationDefault04" 
           name="salary" required>
  </div>

  <div class="col-md-3">
    <label for="validationDefault05" class="form-label">Language</label>
    <input type="text" class="form-control" id="validationDefault05" 
           name="language" required>
  </div>

  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Is Manager?</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" 
               name="ismanager" id="gridRadios1" value="yes" checked>
        <label class="form-check-label" for="gridRadios1">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" 
               name="ismanager" id="gridRadios2" value="no">
        <label class="form-check-label" for="gridRadios2">
          No
        </label>
      </div>
    </div>
  </fieldset>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
